openapi: 3.0.0
info:
  contact:
    email: support@charthop.com
    name: ChartHop
    url: https://www.charthop.com
  description: REST API for ChartHop
  title: ChartHop API
  version: V1.0.0
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
  x-konfig-uses-multipart-form-data: true
servers:
- url: https://api.charthop.com
tags:
- name: comp-review
- name: app
- name: approval
- name: form
- name: change
- name: org
- name: process
- name: template
- name: user
- name: field
- name: scenario
- name: table
- name: report
- name: assessment
- name: export
- name: position
- name: task
- name: group
- name: job
- name: content
- name: timeoff
- name: budget-pool
- name: policy
- name: profile-tab
- name: reportChart
- name: band
- name: customer
- name: exchange-rate
- name: message
- name: oauth
- name: action
- name: category-sort
- name: comment
- name: form-response
- name: guideline
- name: role
- name: person
- name: category
- name: data-view
- name: email-template
- name: event
- name: file
- name: import
- name: job-level
- name: multiplier
- name: question
- name: stripe
- name: webauthn
- name: appConfig
- name: media
- name: product
- name: query
- name: saml
- name: stock
- name: approval-request
- name: billing
- name: org-config
- name: task-config
- name: expression
- name: legalDoc
- name: onboard
- name: access
- name: ai
- name: calendar
- name: metric
- name: notification
- name: preload
- name: search
- name: status
- name: usage
paths:
  /v1/org/{orgId}/access/entity/{type}:
    get:
      description: ""
      operationId: Access_entityActions
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Entity type
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      - description: Entity ids
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: "Actions, defaults to update,delete"
        explode: true
        in: query
        name: action
        required: false
        schema:
          type: string
        style: form
      - description: "Fields to check, defaults to all fields"
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "Date, defaults to today"
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "Scenario id, defaults to primary"
        explode: true
        in: query
        name: scenarioId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessResponse'
          description: successful operation
        "401":
          description: unauthorized
        "404":
          description: not found
      summary: Return the appropriate actions that can be performed on an entity or
        set of entities
      tags:
      - access
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-org-orgId-access-entity-type
      x-accepts: application/json
  /v1/org/{orgId}/action/{actionId}:
    delete:
      description: ""
      operationId: Action_deleteActionById
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Action id
        explode: false
        in: path
        name: actionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Delete an action
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-org-orgId-action-actionId
      x-accepts: application/json
    get:
      description: ""
      operationId: Action_getActionById
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Action id
        explode: false
        in: path
        name: actionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
          description: successful operation
        "400":
          description: bad request
        "404":
          description: not found
      summary: Return a particular action by id
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-org-orgId-action-actionId
      x-accepts: application/json
    patch:
      description: ""
      operationId: Action_updateExistingActionById
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Action id
        explode: false
        in: path
        name: actionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchActionBody'
        description: Action data to update
      responses:
        "200":
          description: OK
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Update an existing action
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--v1-org-orgId-action-actionId
      x-content-type: application/json
      x-accepts: application/json
  /v1/org/{orgId}/action:
    get:
      description: ""
      operationId: Action_getAllPaginated
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Action id to start paginating from
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsAction'
          description: successful operation
        "400":
          description: bad request
        "401":
          description: not authorized
        "404":
          description: not found
      summary: Return all actions in the organization paginated
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-org-orgId-action
      x-accepts: application/json
    post:
      description: ""
      operationId: Action_createNewAction
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateActionBody'
        description: Action data to create
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: org not found
      summary: Create an action
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-org-orgId-action
      x-content-type: application/json
      x-accepts: application/json
  /v1/org/{orgId}/action/{actionId}/run:
    post:
      description: ""
      operationId: Action_executeActionForTesting
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Action id
        explode: false
        in: path
        name: actionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionRunRequest'
      responses:
        "200":
          description: OK
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Run an action - for testing
      tags:
      - action
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-org-orgId-action-actionId-run
      x-content-type: application/json
      x-accepts: application/json
  /v1/org/{orgId}/ai/form-response/summary:
    post:
      description: ""
      operationId: Ai_generateTextSummary
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizeFormResponsesRequest'
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizeResponse'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Use AI to generate a summary of text form responses
      tags:
      - ai
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-org-orgId-ai-form-response-summary
      x-content-type: application/json
      x-accepts: application/json
  /v1/app-config/{appId}:
    get:
      description: ""
      operationId: AppConfig_getDefaultConfigByApp
      parameters:
      - description: App id
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfig'
          description: successful operation
        "400":
          description: bad request
        "401":
          description: not authorized
        "404":
          description: not found
      summary: Return default app configuration by app
      tags:
      - appConfig
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-app-config-appId
      x-accepts: application/json
  /v1/app-config/{appId}/{userId}:
    get:
      description: ""
      operationId: AppConfig_getUserConfigByAppAndUser
      parameters:
      - description: App id
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: User id
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfig'
          description: successful operation
        "400":
          description: bad request
        "401":
          description: not authorized
        "404":
          description: not found
      summary: Return user app configuration by app and user
      tags:
      - appConfig
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-app-config-appId-userId
      x-accepts: application/json
    patch:
      description: ""
      operationId: AppConfig_updateById
      parameters:
      - description: App id
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      - description: User id
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppConfig'
        description: App data to update
      responses:
        "200":
          description: OK
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Update an existing app
      tags:
      - appConfig
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--v1-app-config-appId-userId
      x-content-type: application/json
      x-accepts: application/json
  /v1/app-config:
    post:
      description: ""
      operationId: AppConfig_createNewConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppConfig'
        description: App config data to create
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfig'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
      summary: Create a new app config
      tags:
      - appConfig
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-app-config
      x-content-type: application/json
      x-accepts: application/json
  /v1/app/notify:
    post:
      description: ""
      operationId: App_sendEmailNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyRequest'
      responses:
        "200":
          description: OK
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: "Send an email notification to the configured notify users, on behalf\
        \ of an app"
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-app-notify
      x-content-type: application/json
      x-accepts: application/json
  /v1/app/{appId}:
    delete:
      description: ""
      operationId: App_removeById
      parameters:
      - description: App id
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Delete an app
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-app-appId
      x-accepts: application/json
    get:
      description: ""
      operationId: App_getById
      parameters:
      - description: App id
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
          description: successful operation
        "400":
          description: bad request
        "404":
          description: not found
      summary: Return a particular app by id
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-app-appId
      x-accepts: application/json
    patch:
      description: ""
      operationId: App_updateExistingApp
      parameters:
      - description: App id
        explode: false
        in: path
        name: appId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApp'
        description: App data to update
      responses:
        "200":
          description: OK
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Update an existing app
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--v1-app-appId
      x-content-type: application/json
      x-accepts: application/json
  /v1/app/org/{orgId}/install/{appUserId}/token:
    get:
      description: ""
      operationId: App_getTokenForApp
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: App user id
        explode: false
        in: path
        name: appUserId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Retrieve the current token for this app
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-app-org-orgId-install-appUserId-token
      x-accepts: application/json
    post:
      description: ""
      operationId: App_generateOrRegenerateAccessToken
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: App user id
        explode: false
        in: path
        name: appUserId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopeRequest'
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Generate or regenerate a long-lived access token for the app
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-app-org-orgId-install-appUserId-token
      x-content-type: application/json
      x-accepts: application/json
  /v1/app/org/{orgId}/install/{appUserId}/code:
    post:
      description: ""
      operationId: App_getOauth2AuthorizationCode
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: App user id
        explode: false
        in: path
        name: appUserId
        required: true
        schema:
          type: string
        style: simple
      - description: Scopes
        explode: true
        in: query
        name: scope
        required: false
        schema:
          type: string
        style: form
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: "Retrieve an Oauth2 authorization code for this app, which can be exchanged\
        \ for an access token"
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-app-org-orgId-install-appUserId-code
      x-accepts: application/json
  /v1/app:
    get:
      description: ""
      operationId: App_listPublicGlobalApps
      parameters:
      - description: Tag to filter by
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: App id to start from
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsApp'
          description: successful operation
        "400":
          description: bad request
        "404":
          description: not found
      summary: Return all publicly visible global apps
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-app
      x-accepts: application/json
    post:
      description: ""
      operationId: App_createNewApp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApp'
        description: App data to create
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
      summary: Create a new app
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-app
      x-content-type: application/json
      x-accepts: application/json
  /v1/app/org/{orgId}:
    get:
      description: ""
      operationId: App_getActiveAppsByOrg
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Search query
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by type (app, bundle)"
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Filter by tags
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
      - description: App id to start from
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsApp'
          description: successful operation
        "400":
          description: bad request
        "404":
          description: not found
      summary: Return all active apps available for a particular org
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-app-org-orgId
      x-accepts: application/json
  /v1/app/org/{orgId}/install/{appUserId}/run:
    post:
      description: ""
      operationId: App_runInstalledApp
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: App user id
        explode: false
        in: path
        name: appUserId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/runInstalledAppBody'
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Run an installed app
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-app-org-orgId-install-appUserId-run
      x-content-type: application/json
      x-accepts: application/json
  /v1/app/org/{orgId}/install/{appUserId}:
    delete:
      description: ""
      operationId: App_uninstallAppByUserId
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: App user id
        explode: false
        in: path
        name: appUserId
        required: true
        schema:
          type: string
        style: simple
      - description: "Comma-separated list of bundle-installed entities to delete\
          \ -- if this parameter is omitted, all bundle-installed entities will be\
          \ deleted"
        explode: true
        in: query
        name: keepEntityIds
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: OK
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Uninstall an app
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-app-org-orgId-install-appUserId
      x-accepts: application/json
    get:
      description: ""
      operationId: App_findInstalledAppUsers
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: App user id
        explode: false
        in: path
        name: appUserId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Get an installed app
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-app-org-orgId-install-appUserId
      x-accepts: application/json
    patch:
      description: ""
      operationId: App_updateInstalledApp
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: App user id
        explode: false
        in: path
        name: appUserId
        required: true
        schema:
          type: string
        style: simple
      - description: "If the installed appUser is inactive, load inactive instead"
        explode: true
        in: query
        name: includeInactive
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUser'
        description: App user data to update
      responses:
        "200":
          description: OK
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Update the settings of an installed app
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--v1-app-org-orgId-install-appUserId
      x-content-type: application/json
      x-accepts: application/json
  /v1/app/name/{appName}:
    get:
      description: ""
      operationId: App_getByName
      parameters:
      - description: App name
        explode: false
        in: path
        name: appName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
          description: successful operation
        "400":
          description: bad request
        "404":
          description: not found
      summary: Return a particular app by name
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-app-name-appName
      x-accepts: application/json
  /v1/app/org/{orgId}/install/name/{appName}:
    get:
      description: ""
      operationId: App_getInstalledAppByName
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: App name
        explode: false
        in: path
        name: appName
        required: true
        schema:
          type: string
        style: simple
      - description: "If the installed appUser is inactive, load inactive instead"
        explode: true
        in: query
        name: includeInactive
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Get an installed app by name
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-app-org-orgId-install-name-appName
      x-accepts: application/json
  /v1/app/org/{orgId}/install:
    get:
      description: ""
      operationId: App_findInstalledAppUsers
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: "Filter by type (app, bundle)"
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Filter by tag
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by App User statuses, comma-separated. Accepted values:\
          \ ['NORMAL', 'INACTIVE', 'UNINSTALLED']"
        explode: true
        in: query
        name: statuses
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include app users with NONE access to orgs they pertain
          to.  Default is false
        explode: true
        in: query
        name: includeFormer
        required: false
        schema:
          type: boolean
        style: form
      - description: App id to start from
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsUser'
          description: successful operation
        "400":
          description: bad request
        "404":
          description: not found
      summary: Find installed app users
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-app-org-orgId-install
      x-accepts: application/json
    post:
      description: ""
      operationId: App_installAppForOrg
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CreateUser'
      responses:
        "200":
          description: OK
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
      summary: Install an app for a particular org
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-app-org-orgId-install
      x-content-type: application/json
      x-accepts: application/json
  /v1/app/org/{orgId}/install/validate:
    post:
      description: ""
      operationId: App_validateAppInstallation
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CreateUser'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleInstallValidate'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
      summary: Validate the installation of an app for a particular org
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-app-org-orgId-install-validate
      x-content-type: application/json
      x-accepts: application/json
  /v1/app/org/{orgId}/install/{appUserId}/installdata/{installDataName}:
    get:
      description: ""
      operationId: App_getTokenForApp
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: App user id
        explode: false
        in: path
        name: appUserId
        required: true
        schema:
          type: string
        style: simple
      - description: Name
        explode: false
        in: path
        name: installDataName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Retrieve the current token for this app
      tags:
      - app
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-app-org-orgId-install-appUserId-installdata-installDataName
      x-accepts: application/json
  /v1/org/{orgId}/approval-request/{approvalRequestId}/scenario-response:
    get:
      description: ""
      operationId: Approvalrequest_getScenarioResponseById
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval request id
        explode: false
        in: path
        name: approvalRequestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequestScenarioResponse'
          description: successful operation
        "400":
          description: bad request
        "401":
          description: not authorized
        "404":
          description: not found
      summary: Return a particular approval request scenario response by id
      tags:
      - approval-request
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-org-orgId-approval-request-approvalRequestId-scenario-response
      x-accepts: application/json
  /v1/org/{orgId}/approval-request/scenario-job/{jobId}:
    get:
      description: ""
      operationId: Approvalrequest_getApprovalRequestScenarioResponseByJobId
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Job id
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequestScenarioResponse'
          description: successful operation
        "400":
          description: bad request
        "401":
          description: not authorized
        "404":
          description: not found
      summary: Return a particular approval request scenario response by jobId
      tags:
      - approval-request
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-org-orgId-approval-request-scenario-job-jobId
      x-accepts: application/json
  /v1/org/{orgId}/approval-request/entity/scenario:
    get:
      description: ""
      operationId: Approvalrequest_getAllApprovalRequestScenarioResponses
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Number of results to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: entity ids to filter on
        explode: true
        in: query
        name: entityIds
        required: false
        schema:
          type: string
        style: form
      - description: Include deleted approval requests
        explode: true
        in: query
        name: includeDeleted
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsApprovalRequestScenarioResponse'
          description: successful operation
        "400":
          description: bad request
        "404":
          description: not found
      summary: Return all approval request scenario responses for an org
      tags:
      - approval-request
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-org-orgId-approval-request-entity-scenario
      x-accepts: application/json
  /v1/org/{orgId}/approval-chain:
    get:
      description: ""
      operationId: Approval_getApprovalChains
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: The type of entity
        explode: true
        in: query
        name: entityType
        required: false
        schema:
          enum:
          - COMP_REVIEW
          - SCENARIO
          - TIMEOFF
          type: string
        style: form
      - description: the id of the entity
        explode: true
        in: query
        name: entityId
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsApprovalChain'
          description: successful operation
        "400":
          description: bad request
        "401":
          description: not authorized
        "404":
          description: not found
      summary: Return approval chains
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-org-orgId-approval-chain
      x-accepts: application/json
    post:
      description: ""
      operationId: Approval_createChain
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Create default stages
        explode: true
        in: query
        name: createDefaultStages
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApprovalChain'
        description: ApprovalChain data to create
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalChain'
          description: successful operation
        "202":
          description: snapshot currently building
        "400":
          description: bad request
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Create an approval chain
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-org-orgId-approval-chain
      x-content-type: application/json
      x-accepts: application/json
  /v1/org/{orgId}/approval-chain/{approvalChainId}:
    delete:
      description: ""
      operationId: Approval_deleteChainById
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval chain id
        explode: false
        in: path
        name: approvalChainId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: snapshot currently building
        "400":
          description: bad request
        "401":
          description: not authorized
        "404":
          description: not found
      summary: Delete a approval chain
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-org-orgId-approval-chain-approvalChainId
      x-accepts: application/json
    get:
      description: ""
      operationId: Approval_getApprovalChainById
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval chain id
        explode: false
        in: path
        name: approvalChainId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalChain'
          description: successful operation
        "400":
          description: bad request
        "401":
          description: not authorized
        "404":
          description: not found
      summary: Return a particular approval chain by id
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-org-orgId-approval-chain-approvalChainId
      x-accepts: application/json
    patch:
      description: ""
      operationId: Approval_updateChain
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: approval chain id
        explode: false
        in: path
        name: approvalChainId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApprovalChain'
      responses:
        "202":
          description: snapshot currently building
        "400":
          description: bad request
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Update a approval chain
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--v1-org-orgId-approval-chain-approvalChainId
      x-content-type: application/json
      x-accepts: application/json
  /v1/org/{orgId}/approval-chain/{approvalChainId}/request/{approvalRequestId}:
    delete:
      description: ""
      operationId: Approval_deleteRequestApproval
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval chain id
        explode: false
        in: path
        name: approvalChainId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval request id
        explode: false
        in: path
        name: approvalRequestId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalRequestDeleteBody'
        description: Body params for deletion
      responses:
        "202":
          description: snapshot currently building
        "400":
          description: bad request
        "401":
          description: not authorized
        "404":
          description: not found
      summary: Delete an approval request
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-org-orgId-approval-chain-approvalChainId-request-approvalRequestId
      x-content-type: application/json
      x-accepts: application/json
    get:
      description: ""
      operationId: Approval_requestApprovalRequest
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval chain id
        explode: false
        in: path
        name: approvalChainId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval request id
        explode: false
        in: path
        name: approvalRequestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequest'
          description: successful operation
        "400":
          description: bad request
        "404":
          description: not found
      summary: Return an approval request
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-org-orgId-approval-chain-approvalChainId-request-approvalRequestId
      x-accepts: application/json
    patch:
      description: ""
      operationId: Approval_updateExistingRequest
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval chain id
        explode: false
        in: path
        name: approvalChainId
        required: true
        schema:
          type: string
        style: simple
      - description: approval request id
        explode: false
        in: path
        name: approvalRequestId
        required: true
        schema:
          type: string
        style: simple
      - description: preview-as job id
        explode: true
        in: query
        name: previewJobId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalRequestPatchBody'
        description: approval request data to update
      responses:
        "200":
          description: OK
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Update an existing approval request
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--v1-org-orgId-approval-chain-approvalChainId-request-approvalRequestId
      x-content-type: application/json
      x-accepts: application/json
  /v1/org/{orgId}/approval-chain/{approvalChainId}/request/entity/comp-review:
    get:
      description: ""
      operationId: Approval_getCompReviewResponsesForChain
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval chain id
        explode: false
        in: path
        name: approvalChainId
        required: true
        schema:
          type: string
        style: simple
      - description: Number of results to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: entity ids to filter on
        explode: true
        in: query
        name: entityIds
        required: false
        schema:
          items:
            example: 588f7ee98f138b19220041a7
            type: string
            x-konfig-original-example: 588f7ee98f138b19220041a7
            x-konfig-generated-schema: konfig-generated-schema-paths--v1-org-orgId-approval-chain-approvalChainId-request-entity-comp-review-get-parameters-3-schema-items
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsApprovalRequestCompReviewResponse'
          description: successful operation
        "400":
          description: bad request
        "404":
          description: not found
      summary: Return all approval request comp review responses for an approval chain
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-org-orgId-approval-chain-approvalChainId-request-entity-comp-review
      x-accepts: application/json
  /v1/org/{orgId}/approval-chain/{approvalChainId}/stage:
    get:
      description: ""
      operationId: Approval_getApprovalChainStages
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval chain id
        explode: false
        in: path
        name: approvalChainId
        required: true
        schema:
          type: string
        style: simple
      - description: Number of results to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsApprovalChainStage'
          description: successful operation
        "400":
          description: bad request
        "404":
          description: not found
      summary: Return all approval chain stages for an approval chain
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-org-orgId-approval-chain-approvalChainId-stage
      x-accepts: application/json
    post:
      description: ""
      operationId: Approval_createChainStage
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval chain id
        explode: false
        in: path
        name: approvalChainId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApprovalChainStage'
        description: Approval chain stage data to create
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalChainStage'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: org not found
      summary: Create an approval chain stage
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-org-orgId-approval-chain-approvalChainId-stage
      x-content-type: application/json
      x-accepts: application/json
  /v1/org/{orgId}/approval-chain/{approvalChainId}/stage/{approvalChainStageId}:
    delete:
      description: ""
      operationId: Approval_deleteApprovalChainStage
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval chain id
        explode: false
        in: path
        name: approvalChainId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval chain stage id
        explode: false
        in: path
        name: approvalChainStageId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: snapshot currently building
        "400":
          description: bad request
        "401":
          description: not authorized
        "404":
          description: not found
      summary: Delete an approval chain stage
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-org-orgId-approval-chain-approvalChainId-stage-approvalChainStageId
      x-accepts: application/json
    get:
      description: ""
      operationId: Approval_getAllStagesForChain
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval chain id
        explode: false
        in: path
        name: approvalChainId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval chain stage id
        explode: false
        in: path
        name: approvalChainStageId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalChainStage'
          description: successful operation
        "400":
          description: bad request
        "404":
          description: not found
      summary: Return all approval chain stages for an approval chain
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-org-orgId-approval-chain-approvalChainId-stage-approvalChainStageId
      x-accepts: application/json
    patch:
      description: ""
      operationId: Approval_updateStageById
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval chain id
        explode: false
        in: path
        name: approvalChainId
        required: true
        schema:
          type: string
        style: simple
      - description: approval chain stage id
        explode: false
        in: path
        name: approvalChainStageId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApprovalChainStage'
        description: approval chain stage data to update
      responses:
        "200":
          description: OK
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Update an existing approval chain stage
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--v1-org-orgId-approval-chain-approvalChainId-stage-approvalChainStageId
      x-content-type: application/json
      x-accepts: application/json
  /v1/org/{orgId}/approval-chain/create-default-chain:
    post:
      description: ""
      operationId: Approval_generateDefaultChainStages
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DefaultChainCreateBody'
        description: Approval request data to create
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalChainStage'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: org not found
      summary: Build a default approval chain based on entity type
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-org-orgId-approval-chain-create-default-chain
      x-content-type: application/json
      x-accepts: application/json
  /v1/org/{orgId}/approval-chain/{approvalChainId}/request:
    get:
      description: ""
      operationId: Approval_getAllApprovalRequestsForApprovalChain
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval chain id
        explode: false
        in: path
        name: approvalChainId
        required: true
        schema:
          type: string
        style: simple
      - description: Number of results to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: entity type to filter on
        explode: true
        in: query
        name: entityType
        required: false
        schema:
          enum:
          - COMP_REVIEW
          - SCENARIO
          - TIMEOFF
          type: string
        style: form
      - description: entity ids to filter on
        explode: true
        in: query
        name: entityIds
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsApprovalRequest'
          description: successful operation
        "400":
          description: bad request
        "404":
          description: not found
      summary: Return all approval requests for an approval chain
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-org-orgId-approval-chain-approvalChainId-request
      x-accepts: application/json
    post:
      description: ""
      operationId: Approval_createRequest
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval chain id
        explode: false
        in: path
        name: approvalChainId
        required: true
        schema:
          type: string
        style: simple
      - description: Dry run without creating real request
        explode: true
        in: query
        name: dryRun
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalRequestCreateBody'
        description: Approval request data to create
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequest'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: org not found
      summary: Create an approval request
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-org-orgId-approval-chain-approvalChainId-request
      x-content-type: application/json
      x-accepts: application/json
  /v1/org/{orgId}/approval-chain/{approvalChainId}/request/entity/scenario:
    get:
      description: ""
      operationId: Approval_getScenarioResponses
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval chain id
        explode: false
        in: path
        name: approvalChainId
        required: true
        schema:
          type: string
        style: simple
      - description: Number of results to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: entity ids to filter on
        explode: true
        in: query
        name: entityIds
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsApprovalRequestScenarioResponse'
          description: successful operation
        "400":
          description: bad request
        "404":
          description: not found
      summary: Return all approval request scenario responses for an approval chain
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-org-orgId-approval-chain-approvalChainId-request-entity-scenario
      x-accepts: application/json
  /v1/org/{orgId}/approval-chain/{approvalChainId}/request/{approvalRequestId}/reassign-approver:
    post:
      description: ""
      operationId: Approval_reassignApproverAtStage
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval chain id
        explode: false
        in: path
        name: approvalChainId
        required: true
        schema:
          type: string
        style: simple
      - description: approval request id
        explode: false
        in: path
        name: approvalRequestId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReassignApproverPatchBody'
        description: approval request data to update
      responses:
        "200":
          description: OK
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Reassigning an approver at a stage
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-org-orgId-approval-chain-approvalChainId-request-approvalRequestId-reassign-approver
      x-content-type: application/json
      x-accepts: application/json
  /v1/org/{orgId}/approval-chain/{approvalChainId}/request/{approvalRequestId}/send-reminder:
    post:
      description: ""
      operationId: Approval_sendStageReviewerReminder
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Approval chain id
        explode: false
        in: path
        name: approvalChainId
        required: true
        schema:
          type: string
        style: simple
      - description: approval request id
        explode: false
        in: path
        name: approvalRequestId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendReminderBody'
        description: reminder body
      responses:
        "200":
          description: OK
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Send a reminder for a stage reviewer in an existing approval request
      tags:
      - approval
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-org-orgId-approval-chain-approvalChainId-request-approvalRequestId-send-reminder
      x-content-type: application/json
      x-accepts: application/json
  /v1/org/{orgId}/assessment/bulk/duplicate:
    post:
      description: ""
      operationId: Assessment_bulkDuplicateAssessments
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssessmentBulkDuplicateAssessmentsRequest'
        description: List of assessment ids to duplicate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Duplicate a set of assessments
      tags:
      - assessment
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /v1/org/{orgId}/assessment/bulk/move:
    post:
      description: ""
      operationId: Assessment_updateAssessmentTypes
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkChangeAssessmentTypesBody'
        description: List of assessment ids to update and the new type
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Update the types of a set of assessments
      tags:
      - assessment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-org-orgId-assessment-bulk-move
      x-content-type: application/json
      x-accepts: application/json
  /v1/org/{orgId}/assessment/bulk/delete:
    post:
      description: ""
      operationId: Assessment_bulkDelete
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssessmentBulkDeleteRequest'
        description: List of assessment ids to delete
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Delete a set of assessments
      tags:
      - assessment
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /v1/org/{orgId}/assessment/{assessmentId}:
    delete:
      description: ""
      operationId: Assessment_removeById
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Assessment id
        explode: false
        in: path
        name: assessmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Delete a assessment
      tags:
      - assessment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-org-orgId-assessment-assessmentId
      x-accepts: application/json
    get:
      description: ""
      operationId: Assessment_getById
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Assessment id
        explode: false
        in: path
        name: assessmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assessment'
          description: successful operation
        "400":
          description: bad request
        "404":
          description: not found
      summary: Return a particular assessment by id
      tags:
      - assessment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-org-orgId-assessment-assessmentId
      x-accepts: application/json
    patch:
      description: ""
      operationId: Assessment_updateExistingAssessment
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Assessment id
        explode: false
        in: path
        name: assessmentId
        required: true
        schema:
          type: string
        style: simple
      - description: Suppress notification emails
        explode: true
        in: query
        name: silent
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssessment'
        description: Assessment data to update
      responses:
        "200":
          description: OK
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Update an existing assessment
      tags:
      - assessment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--v1-org-orgId-assessment-assessmentId
      x-content-type: application/json
      x-accepts: application/json
  /v1/org/{orgId}/assessment/{assessmentId}/complete:
    post:
      description: ""
      operationId: Assessment_completeAssessment
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Assessment id
        explode: false
        in: path
        name: assessmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assessment'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: org not found
      summary: Complete a assessment
      tags:
      - assessment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-org-orgId-assessment-assessmentId-complete
      x-accepts: application/json
  /v1/org/{orgId}/assessment/{assessmentId}/reactivate:
    post:
      description: ""
      operationId: Assessment_reactivateAssessment
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Assessment id
        explode: false
        in: path
        name: assessmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assessment'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: org not found
      summary: Reactivate a assessment
      tags:
      - assessment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-org-orgId-assessment-assessmentId-reactivate
      x-accepts: application/json
  /v1/org/{orgId}/assessment/{assessmentId}/form/{formId}/expire:
    post:
      description: ""
      operationId: Assessment_expireFormTasks
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Assessment id
        explode: false
        in: path
        name: assessmentId
        required: true
        schema:
          type: string
        style: simple
      - description: Form id
        explode: false
        in: path
        name: formId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: org not found
      summary: Expire all pending tasks for a form of an assessment
      tags:
      - assessment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-org-orgId-assessment-assessmentId-form-formId-expire
      x-accepts: application/json
  /v1/org/{orgId}/assessment:
    get:
      description: ""
      operationId: Assessment_getAllPaginated
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Type of assessment to filter by
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - REVIEW
          - COMP_REVIEW
          - SURVEY
          type: string
        style: form
      - description: Assessment id to start paginating from
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: List of ids to filter by
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: "Return access information -- pass a list of actions to check,\
          \ for example: create,update,delete"
        explode: true
        in: query
        name: returnAccess
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsAssessment'
          description: successful operation
        "400":
          description: bad request
        "401":
          description: not authorized
        "404":
          description: not found
      summary: Return all assessments in the organization paginated
      tags:
      - assessment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-org-orgId-assessment
      x-accepts: application/json
    post:
      description: ""
      operationId: Assessment_createNewAssessment
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssessment'
        description: Assessment data to create
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assessment'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: org not found
      summary: Create a assessment
      tags:
      - assessment
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-org-orgId-assessment
      x-content-type: application/json
      x-accepts: application/json
  /v1/customer/{customerId}/billing/cancel:
    post:
      description: ""
      operationId: Billing_cancelSubscriptionForCustomer
      parameters:
      - description: Customer id
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelSubscriptionSurveyAnswers'
        description: Survey response
      responses:
        "200":
          description: OK
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Cancel a subscription for a customer
      tags:
      - billing
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-customer-customerId-billing-cancel
      x-content-type: application/json
      x-accepts: application/json
  /v1/customer/{customerId}/billing/checkout:
    post:
      description: ""
      operationId: Billing_upgradeSubscription
      parameters:
      - description: Customer id
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscription'
        description: Subscription data to create
      responses:
        "200":
          description: OK
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Checks out customer to upgrade to pay for their subscription
      tags:
      - billing
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-customer-customerId-billing-checkout
      x-content-type: application/json
      x-accepts: application/json
  /v1/customer/{customerId}/billing:
    get:
      description: ""
      operationId: Billing_customerBillingInfo
      parameters:
      - description: Customer id
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Billing'
          description: successful operation
        "400":
          description: invalid data
        "401":
          description: not authorized
        "403":
          description: permission denied
        "404":
          description: not found
      summary: Return billing information for a customer
      tags:
      - billing
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-customer-customerId-billing
      x-accepts: application/json
  /v1/org/{orgId}/budget-pool/{id}/guidelines:
    get:
      description: ""
      operationId: Budgetpool_getGuidelinesForBudgetPool
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the desired budget pool
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsGuideline'
          description: successful operation
        "400":
          description: bad request
        "404":
          description: not found
      summary: Get the guidelines associated with a budget pool
      tags:
      - budget-pool
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-org-orgId-budget-pool-id-guidelines
      x-accepts: application/json
  /v1/org/{orgId}/budget-pool/{id}/calculate:
    get:
      operationId: Budgetpool_calculateGuideline
      parameters:
      - description: Org identifier (either id or slug
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the desired budget pool
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the scenario the budget will be calculated against
        explode: true
        in: query
        name: scenarioId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: OK
        "400":
          description: bad request
        "401":
          description: not authorized
        "404":
          description: not found
      tags:
      - budget-pool
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-org-orgId-budget-pool-id-calculate
      x-accepts: application/json
  /v1/org/{orgId}/budget-pool:
    get:
      description: ""
      operationId: Budgetpool_getAllForOrg
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: Comp Review Id to filter on
        explode: true
        in: query
        name: compReviewId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsData'
          description: successful operation
        "400":
          description: bad request
        "401":
          description: not authorized
        "404":
          description: not found
      summary: Get all budget pools for an org
      tags:
      - budget-pool
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-org-orgId-budget-pool
      x-accepts: application/json
    post:
      description: ""
      operationId: Budgetpool_createNewPool
      parameters:
      - description: Org identifier (either id or slug
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBudgetPool'
      responses:
        "200":
          description: OK
        "400":
          description: bad request
        "401":
          description: not authorized
        "404":
          description: not found
      summary: Create a new budget pool
      tags:
      - budget-pool
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-org-orgId-budget-pool
      x-content-type: application/json
      x-accepts: application/json
  /v1/org/{orgId}/budget-pool/{id}:
    delete:
      description: ""
      operationId: Budgetpool_deleteBudgetPoolById
      parameters:
      - description: Org identifier (either id or slug
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the desired budget pool
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          description: bad request
        "401":
          description: not authorized
        "404":
          description: not found
      summary: Delete a budget pool
      tags:
      - budget-pool
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-org-orgId-budget-pool-id
      x-accepts: application/json
    get:
      description: ""
      operationId: Budgetpool_getSpecificPool
      parameters:
      - description: Org identifier (either id or slug)
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the desired budget pool
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetPool'
[...]
